@import "tailwindcss";

@theme {
  --font-display: "Times New Roman", Times, serif;
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
}
