@import "tailwindcss";

@theme {
  --font-display: "Times New Roman", Times, serif;
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    width: 60%;
    overflow-x: hidden;
    margin: auto;
    padding: 0;
  }
}
